.row
  .col.m6.s12.offset-m3
    %p Hi #{@hunter.name}, just enter your new password here and you'll be good to go.
    = form_tag url: reset_password_path do
      .input-field
        = password_field_tag :password
        = label_tag :password

      .input-field
        = password_field_tag :password_confirmation
        = label_tag :password_confirmation


      = submit_tag 'Submit', class: 'btn right'
